.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

* {
  background-color: #0bb;
  font-family: sans-serif;
  color: #fff;
}

body{
  width: 40rem;
  border: 2px solid #088;
  margin: 1rem auto;
  display: flex;
  justify-content: space-evenly;
}

.player-card{
  width:12.5rem;
  height: 12.5rem;
  margin: 1.25rem;
  border-radius: 50%;
  background-color: #ddd;
  text-align: center;
  line-height: 12.5rem;
  position: relative;
  display: inline-block;
  border: 2px solid #ffff;
  opacity: 1;
  background-repeat:no-repeat;
  background-position:center center;
  }